.createNote {
  margin-top: 15%;
}

.createNoteCard {
  width: 600px;
  height: 46px
}

.noteFont {
  font-family: 'Roboto Slab', 'Times New Roman', serif;
  font-size: 18px;
  padding: 12px 15px 15px 15px;
  opacity: 0.6;
  width: 500px;
  line-height: 1.4;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* .notesDiv {

} */

div[contenteditable=true]:empty::before {
  content: attr(placeholder);
}

div[contenteditable]:focus {
  outline: 0px solid transparent;
}

#listIcon {
  margin-top: 3.5px;
  opacity: 0.5;
}

#photoIcon {
  margin-top: 3.5px;
  margin-right: 15px;
  opacity: 0.5;
}

.createEditNote {
  margin-top: 15%;
}

.createEditNoteCard {
  width: 600px;
}

.titleFont {
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: 450px;
  line-height: 22px;
  padding: 12px 15px 15px 15px;
  opacity: 0.6;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#pinIcon {
  opacity: 0.5;
  position: absolute;
  right: 0;
}

.optionsIcon {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.addIcon {
  width: 22px;
  height: 22px;
  opacity: 0.5;
}

.colorIcon {
  width: 19px;
  height: 19px;
  opacity: 0.5;
}

.moreIcon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

#closeButton {
  float: right;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
}

.grid {
  width: 240px;
}

.list {
  margin-left: 100px;
  width: 600px;
}

.noteCard {
  word-wrap: break-word;
  outline: transparent;
  position: relative;
}

.noteCard:hover {
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0, 0, 0, 0.30);
}

.noteCard:hover .options {
  visibility: visible;
}

.options {
  visibility: hidden;
}

.noteCard:hover .pinNoteIcon {
  opacity: 0.5;
  visibility: visible;
}

.pinNoteIcon {
  width: fit-content;
  right: 0;
  position: absolute;
  visibility: hidden;
}

.pinnedNoteIcon {
  position: absolute;
  right: 0;
}

.notesDiv {
  width: 800px;
  margin-top: 20px;
}

.cardTitle {
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
  width: 195px;
}

.cardDescription {
  font-family: 'Roboto Slab', 'Times New Roman', serif;
  font-size: 16px;
  padding: 12px 15px 15px 15px;
  word-wrap: break-word;
  white-space: pre-wrap
}

#remindNoteIcon {
  margin: 0px 2px 0px -2px;
  padding: 0px;
}

#addNoteIcon {
  margin: 0px 2px 0px -10px;
  padding: 0px;
}

#colorNoteOptions {
  margin: 0px 2px 0px -10px;
  padding: 0px;
}

#imageNoteIcon {
  margin: 0px 2px 0px -10px;
  padding: 0px;
}

#archiveNoteIcon {
  margin: 0px 2px 0px -10px;
  padding: 0px;
}

#moreNoteIcon {
  margin: 0px 2px 0px -10px;
  padding: 0px;
}

.moreMenu {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 13px;
}

.trash {
  padding-top: 100px;
}

.archive {
  padding-top: 100px;
}

.paddingLabel {
  color: rgba(0, 0, 0, .54);
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  margin-right: 500px;
}

.othersLabel {
  color: rgba(0, 0, 0, .54);
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 500px;
}

.colorMenu {
  overflow-y: hidden;
  min-height: 85px;
}

.colorShape {
  width: 25;
  height: 25;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
  cursor: pointer;
  outline: transparent;
}
