.createNote {
  margin-top: 15%;
}

.createNoteCard {
  width: 600px;
  height: 46px
}

.noteFont {
  font-family: 'Roboto Slab', 'Times New Roman', serif;
  font-size: 18px;
  padding: 12px 15px 15px 15px;
  opacity: 0.6;
  width: 500px;
  line-height: 1.4;
  white-space: pre-wrap;
  word-wrap: break-word;
}

div[contenteditable=true]:empty::before {
  content: attr(placeholder);
}

div[contenteditable]:focus {
  outline: 0px solid transparent;
}

#listIcon {
  margin-top: 3.5px;
  opacity: 0.5;
}

#photoIcon {
  margin-top: 3.5px;
  margin-right: 15px;
  opacity: 0.5;
}

.createEditNote {
  margin-top: 15%;
}

.createEditNoteCard {
  width: 600px;
  position: relative;
}

.add-image-div:hover #addImageDeleteIcon {
  visibility: visible;
}

#addImageDeleteIcon {
  opacity: 0.7;
  position: absolute;
  right: 0;
  bottom: 155px;
  visibility: hidden;
}

.titleFont {
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  width: 450px;
  line-height: 22px;
  padding: 12px 15px 15px 15px;
  opacity: 0.6;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note-dialog:hover #deleteIcon {
  visibility: visible;
}

#pinIcon {
  opacity: 0.7;
  position: absolute;
  right: 0;
  z-index: 1;
}

.image-div {
  position: relative;
}

#deleteIcon {
  opacity: 0.7;
  position: absolute;
  right: 0;
  bottom: 5px;
  visibility: hidden;
}

.optionsIcon {
  width: 18px;
  height: 18px;
  opacity: 0.5;
  outline: transparent;
  cursor: pointer;
}

.addIcon {
  width: 22px;
  height: 22px;
  opacity: 0.5;
}

.colorIcon {
  width: 19px;
  height: 19px;
  opacity: 0.5;
}

.moreIcon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

#closeButton {
  float: right;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
}

.grid {
  width: 240px;
}

.transition {
  transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear .25s;
}

.list {
  margin-left: 100px;
  width: 600px;
}

.noteCard {
  word-wrap: break-word;
  position: relative;
}

.noteCard:hover {
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0, 0, 0, 0.30);
}

.noteCard:hover .options {
  visibility: visible;
}

.options {
  visibility: hidden;
}

.noteCard:hover .pinNoteIcon {
  opacity: 0.5;
  visibility: visible;
}

.pinNoteIcon {
  width: fit-content;
  right: 0;
  position: absolute;
  visibility: hidden;
}

.pinnedNoteIcon {
  position: absolute;
  right: 0;
}

.notesDiv {
  width: 800px;
  margin-top: 7px;
  transition: background 0.15s linear;
}

.cardTitle {
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
  width: 195px;
  outline: transparent;
}

.cardDescription {
  font-family: 'Roboto Slab', 'Times New Roman', serif;
  font-size: 16px;
  padding: 12px 15px 15px 15px;
  word-wrap: break-word;
  white-space: pre-wrap;
  outline: transparent;
}

#remindNoteIcon {
  margin: 0px 2px 0px -2px;
  padding: 0px;
}

#addNoteIcon {
  margin: 0px 2px 0px -10px;
  padding: 0px;
}

#colorNoteOptions {
  margin: 0px 2px 0px -10px;
  padding: 0px;
}

#imageNoteIcon {
  margin: 0px 2px 0px -10px;
  padding: 0px;
}

#archiveNoteIcon {
  margin: 0px 2px 0px -10px;
  padding: 0px;
}

#moreNoteIcon {
  margin: 0px 2px 0px -10px;
  padding: 0px;
}

.trash {
  padding-top: 100px;
}

.archive {
  padding-top: 100px;
}

.paddingLabel {
  color: rgba(0, 0, 0, .54);
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  margin-right: 500px;
}

.othersLabel {
  color: rgba(0, 0, 0, .54);
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-right: 500px;
}

.colorMenu {
  transition: background 0.15s linear;
  overflow-y: hidden;
  min-height: 85px;
}

.colorShape {
  width: 25;
  height: 25;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid lightgrey;
  margin-bottom: 5px;
  cursor: pointer;
  outline: transparent;
}

.reminder-menu {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 256px;
}

.reminder-menu-text {
  cursor: pointer;
  display: flex;
  padding: 15px;
  position: relative;
  width: auto;
  font-size: 14px;
  font-family: 'Roboto', arial, sans-serif;
  margin: 5px 0;
}

.reminder-menu-item {
  cursor: pointer;
  display: flex;
  position: relative;
  transition: background 0.15s linear;
  width: auto;
  font-size: 13px;
  border: 0;
  padding: 10px 15px;
  font-family: 'Roboto', arial, sans-serif;
  margin: 5px 0;
  outline: transparent;
}

.reminder-menu-item:hover, .reminder-menu-item:focus {
  background-color: rgb(238, 238, 238);
}

.time-place-icon {
  width: 15px;
  height: 15px;
  padding-right: 15px;
  outline: transparent;
}

.back-reminder-icon {
  width: 18px;
  height: 18px;
  padding-right: 15px;
  outline: transparent;
  opacity: 0.5;
}

.timing-text {
  position: absolute;
  right: 0;
  padding-right: 15px;
  opacity: 0.5;
}

.save {
  text-transform: capitalize;
  position: absolute;
  right: 0;
  top: -15px;
  font-size: 14px;
}

.reminder-chip:hover .cancel-chip-icon {
  visibility: visible;
}

.time-chip-icon {
  width: 16px;
  height: 16px;
  opacity: 0.5;
  position: absolute;
  left: 4px;
  bottom: 7px;
}

.cancel-chip-icon {
  width: 15px;
  height: 15px;
  opacity: 0.5;
  position: absolute;
  right: 5px;
  bottom: 8px;
  visibility: hidden;
  outline: transparent;
}

.date-display {
  font-family: 'Roboto', arial, sans-serif;
  color: rgba(0, 0, 0, .87);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
  margin: 0px 10px;
  padding: 1px;
}

.time-select-box {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

input[type='file'].hidden {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 11px;
  top: 11px;
  cursor: pointer;
  opacity: 0;
  width: 18px;
  height: 18px;
}

.imageSize {
  width: 224;
}

.imageBigSize {
  width: 100%;
}

.more-menu {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 200px;
}

.more-menu-item {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 13px;
  transition: background 0.15s linear;
  outline: transparent;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  width: auto;
  border: 0;
  padding: 10px 15px;
}

.more-menu-item:hover, .more-menu-item:focus {
  background-color: rgb(238, 238, 238);
}

.moreMenu {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 13px;
  outline: transparent;
}
