
.btncolor {
     background-color: #FF9800;
     color: white;
     border: none;
     border-radius: 40px;
     cursor: pointer;
     margin-left: 0px;
     margin-right: 0px;
     width: 100%;
}

.btncolor:disabled,
.btncolor[disabled]{
  background-color: #cccccc;
  color: #666666;
}

.login-md-input-container {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 18px;
  width: 100%;
}
