.btncolor {
  background-color: #FF9800;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 17px;
  margin-right: 0px;
  width: 90%;
}

.btncolor:disabled, .btncolor[disabled] {
  background-color: #cccccc;
  color: #666666;
}

.login-md-input-container {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 18px;
  width: 100%;
}

.register-md-input-container {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 18px;
  width: 100%;
}

.forgotpasswordLink {
  text-align: right;
  font-size: 13;
  margin-top: 10%;
  text-decoration: none;
}

.signInText {
  text-align: center;
  font-size: 14;
  margin-top: 5%;
  margin-bottom: 3%;
}

.signupLink {
  text-align: right;
  font-size: 13;
  margin-top: 5%;
}

.social-icon {
  cursor: pointer;
  outline: transparent;
}

.facebook {
  margin-left: 120px;
  margin-right: 10px;
}

.google {
  margin-left: 20px;
  margin-right: 100px;
}

#toolbar {
  position: fixed;
}

.todoFont {
  margin-top: 20px;
  color: black;
  font: bold 20px Roboto, sans-serif;
}

.notesFont {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 54px;
  color: black;
  opacity: 1;
  font: normal 20px Roboto, sans-serif;
}

#menuicon {
  margin-left: 15px;
  margin-top: 12px;
  margin-right: 24px;
  opacity: 0.5;
}

.searchBox {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 55%;
  position: relative;
  margin-top: 12px;
  margin-bottom: 15px;
  margin-right: 34px;
}

.searchingBox {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  width: 55%;
  position: relative;
  margin-top: 12px;
  margin-bottom: 15px;
  margin-right: 34px;
  background: white;
}

.searchInputBox {
  background: transparent;
  border: none;
  font: normal 16px Roboto, sans-serif;
  height: 40px;
  outline: none;
  width: 85%;
  padding: 11px 16px 11px 16px;
  box-sizing: border-box;
}

.searchingInputBox {
  background: transparent;
  border: none;
  font: normal 16px Roboto, sans-serif;
  height: 40px;
  outline: none;
  width: 85%;
  padding: 11px 16px 11px 16px;
  box-sizing: border-box;
}

.cancelIcon {
  position: absolute;
  right: 0;
}

.searchDiv {
  margin-top: 115px;
  width: 800px;
}

#searchIcon {
  opacity: 0.5;
}

#refreshIcon {
  margin-top: 12px;
  opacity: 0.5;
}

#viewListIcon {
  margin-top: 12px;
  margin-right: 24px;
  opacity: 0.5;
}

#gridListIcon {
  margin-top: 12px;
  margin-right: 24px;
  opacity: 0.5;
}

#appsIcon {
  margin-top: 12px;
  opacity: 0.5;
}

#notifyIcon {
  margin-top: 12px;
  opacity: 0.5;
}

.accountIcon {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 15px;
  outline:transparent;
}

#sidebar {
  margin-top: 69px;
  background: #e8e8e8;
  width: 280px;
  position: fixed;
}

.section {
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 8px;
}

.div-section {
  padding-top: 5px;
  padding-bottom: 5px;
}

.div-section:hover {
  width: 250px;
  background: rgba(0, 0, 0, 0.12);
}

.sidebarFont {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  padding-left: 32px;
  font-size: 13px;
  line-height: 30px;
  vertical-align: top;
  width: 176px;
  opacity: 0.9;
}

.sidebarIcon {
  margin-left: 10px;
  opacity: 0.5;
}

.link {
  text-decoration: none;
  display: inline-block;
  color: black;
  width: 100%;
}

.sidebarLabelFont {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  margin-left: 5px;
  font-size: 13.5px;
}

#editButton {
  font-size: 13px;
  font-weight: bold;
  margin-left: 100px;
}

#tooltip {
  font-size: 11px;
  background: #232b2b;
  padding: 8px;
  font-weight: bold;
}

.profile {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 330px;
  margin-top: 24px;
  position: relative;
  cursor: pointer;
}

.profileCard {
  /* margin-top: 0px;
  height: 160px;
  width: 310px; */
  position: absolute;
  right: -68px;
}

.profileImg {
  margin-left: 20px;
  margin-top: 20px;
  height: 70px;
  width: 70px;
}

.nameFont {
  font: 14px Roboto, RobotoDraft, Arial, sans-serif;
  font-weight: bold;
  line-height: 90px;
  margin-left: 25px;
  word-wrap: break-word;
}

.emailFont {
  font: 13px Roboto, RobotoDraft, Arial, sans-serif;
  line-height: 130px;
  margin-left: -98px;
  opacity: 0.5;
  word-wrap: break-word;
}

#signoutBtn {
  background: #357ae8;
  color: white;
  font-weight: bold;
  margin-left: 115px;
  margin-bottom: 30px;
  font-size: 13px;
  text-transform: capitalize;
  border-radius: 3px;
}

.profile-pic {
  margin-left: 20px;
  margin-top: 5px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  position: relative;
}

/* .profile-pic:hover {
  background-color: rgba(0, 0, 0, .5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
} */

.profile-pic span {
  background: rgba(0, 0, 0, .54);
  bottom: 0;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  left: 0;
  line-height: 9px;
  position: absolute;
  padding: 7px 0;
  text-align: center;
  width: 96px;
  outline: transparent;
}

#profilefile {
  position: absolute;
  left: 0;
  top: 0;
  width: 100;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 500px;
  height: 350px;
}

.profile-text {
  padding-top: 10;
  padding-bottom: 10;
  font-size: 18px;
  font-weight: 800px;
  font-family: Roboto, Arial, sans-serif;
}

.set-profile-btn {
  margin-top: 10px;
  background-color: #4d90fe;
  font-size: 12;
  text-transform: initial;
  color: white;
  width: 150px;
  margin-left: 170px;
}
