<div id="container" layout="column"  layout-align="center center" layout-wrap>
<div style="margin-top: 7%" layout="row" class="notesDiv" layout-align="start start" layout-wrap>
  <div class="grid" ng-repeat="note in notes | orderBy: '-modified_date' | filter: {archive:true}">
    <md-card class="noteCard" style="background-color:{{note.color}}" ng-click="showDialog($event,note)">

      <div class="pinNoteIcon">
        <md-button ng-model="pin" class="md-icon-button" ng-click="isPin(note); $event.stopPropagation();">
          <img src="assets/images/pin.svg" ng-class="{'activePin': note.pin}">
          <md-tooltip id="tooltip">Pin note</md-tooltip>
        </md-button>
      </div>

      <div class="cardTitle">{{note.title}}</div>


      <md-card-content class="cardDescription">{{note.description}}</md-card-content>

      <md-whiteframe>
        <div class="options">
          <md-button class="md-icon-button" id="remindNoteIcon">
            <img src="assets/images/reminders.svg" class="optionsIcon">
            <md-tooltip id="tooltip">Remind me</md-tooltip>
          </md-button>

          <md-button class="md-icon-button" id="addNoteIcon">
            <img src="assets/images/round-person_add-24px.svg" class="addIcon">
            <md-tooltip id="tooltip">Collaborator</md-tooltip>
          </md-button>

          <md-menu>
            <md-button class="md-icon-button" id="colorNoteOptions" ng-click="openMoreMenu($mdMenu, $event)">
              <img src="assets/images/round-color_lens-24px.svg" class="colorIcon">
              <md-tooltip id="tooltip">Change color</md-tooltip>
            </md-button>
            <md-menu-content width="2" class="colorMenu">
              <md-menu-item>
                <div style="padding-left:0px;padding-right:0px; margin-left:4px;" ng-repeat="colorArray in colors">
                  <div ng-repeat="color in colorArray" class = "colorShape" style = "background-color : {{color.color}};" ng-click="updateColor(note,color.color)">
                  </div>
                </div>
              </md-menu-item>
            </md-menu-content>
          </md-menu>

          <md-button class="md-icon-button" id="imageNoteIcon">
            <img src="assets/images/round-photo-24px.svg" class="optionsIcon">
            <md-tooltip id="tooltip">Add Image</md-tooltip>
          </md-button>

          <md-button ng-model="archive" class="md-icon-button" id="archiveNoteIcon" ng-click="isUnarchive(note)">
            <img src="assets/images/round-unarchive-24px.svg" class="optionsIcon">
            <md-tooltip id="tooltip">Unarchive</md-tooltip>
          </md-button>

          <md-menu>
            <md-button class="md-icon-button" id="moreNoteIcon" ng-click="openMoreMenu($mdMenu, $event)">
              <img src="assets/images/round-more_vert-24px.svg" class="moreIcon">
              <md-tooltip id="tooltip">More</md-tooltip>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="isTrash(note)">
                  <div class="moreMenu"> Delete Note </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="moreMenu">
                  <div class="moreMenu"> Add Label </div>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button class="moreMenu">
                  <div class="moreMenu"> Make a copy </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-whiteframe>

    </md-card>
  </div>
</div>
</div>
