<div layout="row" flex-sm="100" flex-gt-sm="200" layout-padding layout-wrap layout-margin layout-align="space-around">
  <div md-whiteframe="5" flex-sm="100" flex-gt-sm="200" flex-gt-md="30" layout="column" layout-align="center center" style="margin-top:10%">
    <h1>Forgot Password</h1>
    <form name="userLogin">

      <md-input-container class="login-md-input-container">
        <label>Email-id:</label>
        <input type="text" ng-model="email" name="email" id="email" ng-pattern="/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/" required>
        <span ng-show="userLogin.$dirty && userLogin.email.$error.pattern" style="color:red; font-size: 12px">Enter a valid email-id</span>
        <span ng-show="userLogin.$dirty && userLogin.email.$error.required" style="color:red; font-size: 12px">Email-id is required</span>
      </md-input-container>

      <md-button class="btncolor" ng-disabled="userLogin.$invalid" ng-click="forgotpassword()"> Send Mail </md-button>
    </form>
</div>
</div>
