<div ng-show="!labelbox" class="label-menu">
  <div class="more-menu-item" ng-click="trash()">
    Delete Note
  </div>
  <div class="more-menu-item" ng-click="labelbox=true">
    Add Label
  </div>
  <div class="more-menu-item">
    Make a copy
  </div>
</div>

<div ng-show="labelbox" class="label-menu">
  <div class="label-title">Label note </div>
  <div class="search-label">
    <img src="assets/images/round-search-24px.svg" class="label-search-icon">
    <input type="text" ng-model="searchText" placeholder="Enter label name" class="label-search-input">
  </div>

  <div class="labels-checkbox">
    <div ng-repeat="label in labelset | filter : searchText">
      <md-checkbox style="padding: 0px 10px 3px; margin-left: 15px;" ng-click="toggle(label, selected)" ng-checked="exists(label, selected)" >
        <div class="label-name-menu">{{label.labelname}}</div>
      </md-checkbox>
    </div>
  </div>
</div>
