<md-dialog aria-label="Label" class="labelDialog">
  <md-dialog-content>
    <div class="edit-label">Edit Labels</div>

    <div layout="row" style="margin-top: 20px;">
      <img src="assets/images/cancel.svg" class="cancel-icon-label" ng-show="clearicon" ng-click="clear()">
      <img src="assets/images/round-add-24px.svg" ng-show="!clearicon" class="cancel-icon-label">

      <input type="text" ng-model="addlabel" placeholder="Create new label" class="label-input" ng-click="clearicon=true">
      <img src="assets/images/icons8-checkmark.svg" class="checkmark-icon-label" ng-click="createLabel()" ;>
    </div>

    <div style="margin-top: 20px;" ng-repeat="label in labels" ng-mouseover="open = true" ng-mouseleave="open = false">
      <div layout="row">
        <img src="assets/images/round-label-24px.svg" class="label-icon-label" ng-show="!open">
        <img src="assets/images/round-delete-24px.svg" class="label-icon-label" ng-show="open" ng-click="deleteLabel(label)">
      </div>

      <div ng-show="!inputshow" layout="row">
        <div class="label-name" ng-click="inputshow=true">{{label.labelname}}</div>
        <img src="assets/images/round-edit-24px.svg" class="edit-label-icon" ng-click="inputshow=true;">
      </div>

      <div ng-show="inputshow" layout=row>
        <input type="text" ng-model="label.labelname" class="label-input">
        <img src="assets/images/icons8-checkmark.svg" class="checkmark-icon-label" ng-click="inputshow=false; updateLabel(label);">
      </div>
    </div>

    <md-divider style="margin-top: 25px; width: 100%;"></md-divider>
    <md-button class="close-label" ng-click="close()">Close</md-button>

  </md-dialog-content>
</md-dialog>
