<div class="createNote" layout="row">
  <md-card class="createNoteCard" >

      <div ng-model="Note" placeholder="Take a note..." class="noteFont" contenteditable="true"></div>
        <span class="listIcon"><img src="assets/images/round-view_list-24px.svg" />
      <md-tooltip id="tooltip">New List</md-tooltip>
    </span>
        <span class="photoIcon"><img src="assets/images/round-photo-24px.svg" />
      <md-tooltip id="tooltip">New note with image</md-tooltip>
    </span>
  </md-card>
</div>
