<div ng-show="p.length" class="othersLabel">Others</div>
<div layout="row" layout-xs="column" class="notesDiv" layout-align="start start" layout-wrap>
  <div ng-class="grid" ng-repeat="note in notes | orderBy: '-modified_date' | filter: {trash:false} | filter: {archive:false} | filter: {pin:false}">
    <md-card class="noteCard" style='background-color: {{note.color}}'>
      <div class="pinNoteIcon">
        <md-button ng-model="pin" class="md-icon-button" ng-click="isPin(note);">
          <img src="assets/images/pin.svg">
          <md-tooltip id="tooltip">Pin note</md-tooltip>
        </md-button>
      </div>

      <div ng-if="note.image" style="outline:transparent" ng-click="showDialog($event,note)">
        <img ng-src="{{note.image}}" ng-class="{{imageSize}}">
      </div>

      <div ng-if="note.title" ng-click="showDialog($event,note)" class="cardTitle">{{note.title}}</div>

      <md-card-content ng-if="note.description" ng-click="showDialog($event,note)" class="cardDescription" id="description"><span ng-bind-html="note.description | linky"></span>
      </md-card-content>
      <div layout='row' layout-wrap>
        <md-chips class="reminder-chip" ng-if="note.reminder">
          <md-chip style="position: relative">
            <img src="assets/images/round-access_time-24px.svg" class="time-chip-icon">
            <div class="date-display">{{note.reminder | date: "MMM dd, hh:mm a"}}</div>
            <img src="assets/images/cancel.svg" class="cancel-chip-icon" ng-click="removeReminder(note)">
          </md-chip>
        </md-chips>
        <md-chips class="reminder-chip" ng-if="note.notelabel" ng-repeat="label in note.notelabel">
          <md-chip style="position: relative">
            <div class="date-display">{{label.labelName}}</div>
            <img src="assets/images/cancel.svg" class="cancel-chip-icon" ng-click="removelabel(note, label)">
          </md-chip>
        </md-chips>
      </div>
      <options></options>
      <div ng-if="note.urlInfo" ng-repeat="url in note.urlInfo" layout="row" style="position:relative; background-color:white; border-top: 1px solid rgba(0,0,0,0.12);">
        <div class="url-image">
          <img ng-src="{{url.urlImage}}" class="url-image-size">
        </div>
        <div flex style="padding: 8px 10px;">
          <p class="url-title md-truncate">{{url.urlTitle}}</p>
          <p class="url-description">{{url.urlDescription}}</p>
        </div>
      </div>
    </md-card>
  </div>
</div>
