<div class="createNote">
  <md-card class="createNoteCard">
    <div layout="row" ng-show="!isEditorVisible">

      <div ng-model="Note" placeholder="Take a note..." class="noteFont" contenteditable="true" ng-click="isEditorVisible=true"></div>
      <!-- <md-button class="md-icon-button" id="listIcon">
        <img src="assets/images/round-view_list-24px.svg">
        <md-tooltip id="tooltip">New List</md-tooltip>
      </md-button>

      <md-button class="md-icon-button" id="photoIcon">
        <img src="assets/images/round-photo-24px.svg">
        <md-tooltip id="tooltip">New note with image</md-tooltip>
      </md-button> -->
    </div>
  </md-card>
</div>

<div ng-show="isEditorVisible" class="createEditNote">
  <md-card class="createEditNoteCard">
    <div layout="row">
      <div ng-model="title" placeholder="Title" contenteditable="true" class="titleFont" only-text="true" convert-new-lines="true"></div>
      <md-button ng-model="pin" class="md-icon-button" id="pinIcon">
        <img src="assets/images/pin.svg">
        <md-tooltip id="tooltip">Pin note</md-tooltip>
      </md-button>
    </div>

    <div layout="row">
      <div ng-model="description" placeholder="Take a note..." class="noteFont" contenteditable="true" only-text="true" convert-new-lines="true"></div>
    </div>

    <div>
      <options></options>
      <md-menu>
        <md-button class="md-icon-button" ng-click="openMoreMenu($mdMenu, $event)">
          <img src="assets/images/round-more_vert-24px.svg" class="moreIcon">
          <md-tooltip id="tooltip">More</md-tooltip>
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button class="moreMenu">
              <div class="moreMenu"> Add Label </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button class="md-button" id="closeButton" ng-click="isEditorVisible=false; createNote()">Close</md-button>
    </div>
  </md-card>
</div>
