<md-whiteframe flex-sm="45" flex-gt-sm="35" flex-gt-md="25">

  <md-button class="md-icon-button">
    <img src="assets/images/reminders.svg" class="optionsIcon">
    <md-tooltip id="tooltip">Remind me</md-tooltip>
  </md-button>

  <md-button class="md-icon-button">
    <img src="assets/images/round-person_add-24px.svg" class="addIcon">
    <md-tooltip id="tooltip">Collaborator</md-tooltip>
  </md-button>

  <md-button ng-model= "color" class="md-icon-button">
    <img src="assets/images/round-color_lens-24px.svg" class="colorIcon">
    <md-tooltip id="tooltip">Change color</md-tooltip>
  </md-button>

  <md-button class="md-icon-button">
    <img src="assets/images/round-photo-24px.svg" class="optionsIcon">
    <md-tooltip id="tooltip">Add Image</md-tooltip>
  </md-button>

  <md-button ng-model="archive" class="md-icon-button" ng-click="isArchive();">
    <img src="assets/images/round-archive-24px.svg" class="optionsIcon">
    <md-tooltip id="tooltip">Archive</md-tooltip>
  </md-button>

  <md-button class="md-icon-button">
    <img src="assets/images/round-more_vert-24px.svg" class="moreIcon">
    <md-tooltip id="tooltip">More</md-tooltip>
  </md-button>

</md-whiteframe>
