<div ng-show="p.length > 0" class="paddingLabel">Pinned</div>
<div class="notesDiv" layout="row" layout-align="start start" layout-wrap>
  <div  ng-class="grid" ng-repeat="note in notes | orderBy: '-modified_date' | filter: {pin:true} as p ">
    <md-card class="noteCard" style="background-color: {{note.color}}">

      <div class="pinnedNoteIcon">
        <md-button class="md-icon-button" ng-click="isPin(note);">
          <img src="assets/images/pinned.svg">
          <md-tooltip id="tooltip">Pin note</md-tooltip>
        </md-button>
      </div>
        <div ng-click="showDialog($event,note)" class="cardTitle">{{note.title}}</div>

      <md-card-content  ng-click="showDialog($event,note)" class="cardDescription">{{note.description}}</md-card-content>

    <options></options>

    </md-card>
  </div>
</div>
