  <div class="profile">
      <div layout="row">
        <div class="profile-pic"  ng-click="updateProfile($event)">
          <img ng-src="{{showprofile || getInitials(showname)}}" style="width: 100; height: 100;">
          <span>Change</span>
        </div>
        <span class="nameFont">{{showname}}</span>
        <div class="emailFont">{{showemail}}</div>
      </div>
      <div>
        <md-button class="md-raised" id="signoutBtn" ng-click="signOut()">Sign out</md-button>
      </div>
</div>
