<div layout="row" flex-sm="100" flex-gt-sm="200" layout-padding layout-wrap layout-margin layout-align="space-around">
  <div md-whiteframe="5" flex-sm="100" flex-gt-sm="200" flex-gt-md="30" layout="column" layout-align="center center" style="margin-top:10%">
    <h1>Reset Password</h1>
    <form name="userLogin">

      <md-input-container class="login-md-input-container">
        <label>Password:</label>
        <input type="password" ng-model="password" name="password" id="password" ng-minlength="3" ng-maxlength="8" required>
        <span ng-show="userLogin.$dirty && userLogin.password.$error.required" style="color: red; font-size: 12px">Password is a required</span>
        <span ng-show="userLogin.$dirty && userLogin.password.$error.minlength" style="color: red; font-size: 12px">Password should not be less than 3</span>
        <span ng-show="userLogin.$dirty && userLogin.password.$error.maxlength" style="color: red; font-size: 12px">Password should not be greater than 8</span>
      </md-input-container>

      <md-input-container class="login-md-input-container">
        <label>Confirm Password:</label>
        <input type="password" ng-model="cpassword" name="cpassword" id="cpassword" ng-minlength="3" ng-maxlength="8" required>
        <span ng-show="userLogin.$dirty && userLogin.cpassword.$error.required" style="color: red; font-size: 12px">Password is a required</span>
        <span ng-show="userLogin.$dirty && userLogin.cpassword.$error.minlength" style="color: red; font-size: 12px">Password should not be less than 3</span>
        <span ng-show="userLogin.$dirty && userLogin.cpassword.$error.maxlength" style="color: red; font-size: 12px">Password should not be greater than 8</span>
      </md-input-container>
      <md-button class="btncolor" ng-disabled="userLogin.$invalid" ng-click="resetpassword()"> Reset Password </md-button>

    </form>
  </div>
</div>
