<md-toolbar ng-style="toolbar" class="transition" layout="row" id="toolbar">

  <md-button ng-hide="$state.is('home.search')" class="md-icon-button" id="menuicon" ng-click="toggleLeft()">
    <img src="assets/images/round-menu-24px.svg" />
    <md-tooltip id="tooltip">Main-Menu</md-tooltip>
  </md-button>

  <md-button ng-show="$state.is('home.search')" class="md-icon-button" id="menuicon" ng-click="goback()">
    <img src="assets/images/round-arrow_back-24px.svg" />
    <md-tooltip id="tooltip">Back</md-tooltip>
  </md-button>

  <span class="todoFont"> TODO </span>
  <span class="notesFont"> Notes </span>

  <div ng-hide="$state.is('home.search')" class="searchBox" ng-click="search()">
    <md-button class="md-icon-button">
      <img src="assets/images/round-search-24px.svg" id="searchIcon" />
    </md-button>
    <input type="text" ng-model="searchText" placeholder="Search" class="searchInputBox">
    <md-tooltip id="tooltip">Search</md-tooltip>
  </div>

  <div ng-show="$state.is('home.search')" class="searchingBox">
    <md-button class="md-icon-button">
      <img src="assets/images/round-search-24px.svg" id="searchIcon" />
    </md-button>
    <input type="text" ng-model="searchText" placeholder="Search" class="searchingInputBox">
    <md-button class="md-icon-button cancelIcon" ng-click="clear()">
      <img src="assets/images/cancel.svg" id="searchIcon" />
    </md-button>
    <md-tooltip id="tooltip">Search</md-tooltip>
  </div>

  <md-button class="md-icon-button" id="refreshIcon" ng-click="refreshPage()">
    <img src="assets/images/round-refresh-24px.svg" />
    <md-tooltip id="tooltip">Refresh</md-tooltip>
  </md-button>

  <md-button class="md-icon-button" ng-show="!listview" id="gridListIcon" ng-click="girdView(); listview=true;">
    <img src="assets/images/round-view_stream-24px.svg" />
    <md-tooltip id="tooltip"> List View </md-tooltip>
  </md-button>

  <md-button ng-show="listview" class="md-icon-button" id="viewListIcon" ng-click="listView(); listview=false">
    <img src="assets/images/round-view_quilt-24px.svg" />
    <md-tooltip id="tooltip"> Grid View </md-tooltip>
  </md-button>

  <!-- <md-button class="md-icon-button" id="appsIcon">
      <img src="assets/images/round-apps-24px.svg" />
      <md-tooltip id="tooltip">Apps</md-tooltip>
    </md-button>

    <md-button class="md-icon-button" id="notifyIcon">
      <md-icon md-svg-icon="assets/images/notify.svg"></md-icon>
      <md-tooltip id="tooltip">Notification</md-tooltip>
    </md-button> -->

  <div ng-click="openProfilePanel($event)" class="accountIcon">
    <img ng-src="{{image}}" style="width: 32px; height: 32px; cursor:pointer;"/>
    <md-tooltip id="tooltip">Account</md-tooltip>
  </div>
</md-toolbar>

  <!-- <md-menu>
      <md-button class="md-icon-button" id="moreNoteIcon" ng-click="openMoreMenu($mdMenu, $event)">
        <img src="assets/images/round-more_vert-24px.svg" class="moreIcon">
        <md-tooltip id="tooltip">More</md-tooltip>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="isTrash(note)">
            <div class="moreMenu"> Delete Note </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="moreMenu">
            <div class="moreMenu"> Add Label </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="moreMenu">
            <div class="moreMenu"> Make a copy </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu> -->
  </md-card>
</div>
