<md-dialog aria-label="Note Update" style="background:{{color}}">
  <md-dialog-content>

    <div layout="row">
      <div ng-model="newTitle" placeholder="Title" contenteditable="true" class="titleFont" only-text="true" convert-new-lines="true"></div>
      <md-button class="md-icon-button" id="pinIcon" ng-click="pin()">
        <img src="assets/images/pin.svg">
        <md-tooltip id="tooltip">Pin note</md-tooltip>
      </md-button>
    </div>

    <div layout="row">
      <div ng-model="newDescription" placeholder="Note" class="noteFont" contenteditable="true" only-text="true" convert-new-lines="true"></div>
    </div>

    <md-whiteframe flex-sm="45" flex-gt-sm="35" flex-gt-md="25">

      <md-button class="md-icon-button">
        <img src="assets/images/reminders.svg" class="optionsIcon">
        <md-tooltip id="tooltip">Remind me</md-tooltip>
      </md-button>

      <md-button class="md-icon-button">
        <img src="assets/images/round-person_add-24px.svg" class="addIcon">
        <md-tooltip id="tooltip">Collaborator</md-tooltip>
      </md-button>

      <md-menu>
        <md-button class="md-icon-button" id="colorNoteOptions" ng-click="openMoreMenu($mdMenu, $event)">
          <img src="assets/images/round-color_lens-24px.svg" class="colorIcon">
          <md-tooltip id="tooltip">Change color</md-tooltip>
        </md-button>
        <md-menu-content width="2" class="colorMenu">
          <md-menu-item>
            <div style="padding-left:0px;padding-right:0px; margin-left:4px;" ng-repeat="colorArray in colors">
              <div ng-repeat="color in colorArray" class = "colorShape" style = "background-color : {{color.color}};" ng-click="updateColor(note,color.color)">
              </div>
            </div>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <md-button class="md-icon-button">
        <img src="assets/images/round-photo-24px.svg" class="optionsIcon">
        <md-tooltip id="tooltip">Add Image</md-tooltip>
      </md-button>

      <md-button class="md-icon-button" ng-click="archive();">
        <img src="assets/images/round-archive-24px.svg" class="optionsIcon">
        <md-tooltip id="tooltip">Archive</md-tooltip>
      </md-button>

    <md-menu>
      <md-button class="md-icon-button" id="moreNoteIcon" ng-click="more($mdMenu)">
        <img src="assets/images/round-more_vert-24px.svg" class="moreIcon">
        <md-tooltip id="tooltip">More</md-tooltip>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="trash()">
            <div class="moreMenu"> Delete Note </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="moreMenu">
            <div class="moreMenu"> Add Label </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="moreMenu">
            <div class="moreMenu"> Make a copy </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-whiteframe>

    <md-button class="md-button" id="closeButton" ng-click="close()">Close</md-button>

  </md-dialog-content>

</md-dialog>
