<md-dialog aria-label="Note Update" style="background:{{color}}; width:600px" class="note-dialog">
  <md-dialog-content>

    <md-button class="md-icon-button" id="pinIcon" ng-click="pin()">
      <img src="assets/images/pin.svg">
      <md-tooltip id="tooltip">Pin note</md-tooltip>
    </md-button>

    <div ng-if="image" class="image-div">
      <img ng-src="{{image}}" style="width: 100%" ng-click="imagefullScreen()">
      <md-button class="md-icon-button" id="deleteIcon" ng-click="deleteImage()">
        <img src="assets/images/round-delete-24px.svg">
        <md-tooltip id="tooltip">Delete Image</md-tooltip>
      </md-button>
    </div>

    <div layout="row">
      <div ng-model="newTitle" placeholder="Title" contenteditable="true" class="titleFont" only-text="true" convert-new-lines="true"></div>
    </div>

    <div layout="row">
      <div ng-model="newDescription" placeholder="Note" class="noteFont" contenteditable="true" only-text="true" convert-new-lines="true">
      </div>
    </div>
    <div layout='row' layout-wrap>
      <md-chips class="reminder-chip" ng-if="note.reminder">
        <md-chip style="position: relative">
          <img src="assets/images/round-access_time-24px.svg" class="time-chip-icon">
          <div class="date-display">{{note.reminder | date: "MMM dd, hh:mm a"}}</div>
          <img src="assets/images/cancel.svg" class="cancel-chip-icon" ng-click="removeReminder(note)">
        </md-chip>
      </md-chips>
      <md-chips class="reminder-chip" ng-if="note.notelabel" ng-repeat="label in note.notelabel">
        <md-chip style="position: relative">
          <div class="date-display">{{label.labelName}}</div>
          <img src="assets/images/cancel.svg" class="cancel-chip-icon" ng-click="removelabelnote(label)">
        </md-chip>
      </md-chips>
    </div>

<div style="padding: 12px 15px 15px 15px;">
    <div ng-if="note.urlInfo" class="md-whiteframe-1dp" ng-repeat="url in note.urlInfo" layout="row" style="position:relative; margin-bottom:10px;">
        <div style="position:absolute; right:2; top:2; outline:transparent" ng-click="removeurl(url)">
          <img src="assets/images/cancel.svg" style="width:14px; height:14px; opacity:0.5">
        </div>

      <div class="url-image" style="background-color:white">
        <img ng-src="{{url.urlImage}}" class="url-image-size">
      </div>

      <div flex style="padding: 8px 10px; background-color: rgba(250,250,250,0.8);">
        <p class="url-title md-truncate">{{url.urlTitle}}</p>
        <p class="url-description">{{url.urlDescription}}</p>
      </div>

    </div>
</div>

    <div>
      <md-button class="md-icon-button">
        <img src="assets/images/reminders.svg" class="optionsIcon">
        <md-tooltip id="tooltip">Remind me</md-tooltip>
      </md-button>

      <md-button class="md-icon-button">
        <img src="assets/images/round-person_add-24px.svg" class="addIcon">
        <md-tooltip id="tooltip">Collaborator</md-tooltip>
      </md-button>

      <md-menu>
        <md-button class="md-icon-button" ng-click="colorMenu($mdMenu, $event)">
          <img src="assets/images/round-color_lens-24px.svg" class="colorIcon">
          <md-tooltip id="tooltip">Change color</md-tooltip>
        </md-button>
        <md-menu-content width="2" class="colorMenu">
          <md-menu-item>
            <div style="padding-left:0px;padding-right:0px; margin-left:4px;" ng-repeat="colorArray in colors">
              <div ng-repeat="color in colorArray" class="colorShape" style="background-color : {{color.color}};" ng-click="updateColor(color.color)">
              </div>
            </div>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

      <md-button class="md-icon-button">
        <img src="assets/images/round-photo-24px.svg" class="optionsIcon">
        <input type="file" name="file" class="hidden" valid-file upload="updateImage(file)" ng-model="file" accept="image/*">
        <md-tooltip id="tooltip">Add Image</md-tooltip>
      </md-button>

      <md-button class="md-icon-button" ng-click="archive();">
        <img src="assets/images/round-archive-24px.svg" class="optionsIcon">
        <md-tooltip id="tooltip">Archive</md-tooltip>
      </md-button>

      <md-button class="md-icon-button" id="moreNoteIcon" ng-click="moremenu($event)">
        <img src="assets/images/round-more_vert-24px.svg" class="moreIcon">
        <md-tooltip id="tooltip">More</md-tooltip>
      </md-button>

      <md-button class="md-button" id="closeButton" ng-click="close()">Close</md-button>
    </div>
  </md-dialog-content>

</md-dialog>
